.fridge{
    width: 20rem;
    height: auto;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid rgb(180, 178, 178);
}
.fridge .compartment{
    height: 10rem;
    width: 100%;
    border-radius: 10px 10px 0 0;
    position: relative;
    transition: 0.5s;
    background: linear-gradient(90deg, rgb(243, 242, 242) , rgb(241, 240, 240));
    border: 1.5px solid rgb(124, 171, 202);
    box-sizing: border-box;
}

.fridge .gate{
    background: linear-gradient(90deg , rgb(102, 102, 102) , rgb(192, 191, 191));
    height: 10rem;
    width: 100%;
    border-radius: 10px 10px 0 0;
    position: absolute;
    transition: 0.5s;
    border: 1px solid rgb(209, 206, 206);
    z-index: 10;
    top : 0;
}
.fridge .gate .handle{
    width: 1rem;
    height: 5rem;
    background:rgb(80, 129, 168);
    border: 2px solid rgb(64, 109, 151);
    position: absolute;
    top : 3rem;
    left: 2rem;
    border-radius: 2px;
    cursor:grab;
    transition: 0.5s;
    box-shadow: 0px 0px 5px 0.5px rgb(90, 89, 89);
}
.fridge .gate.open .handle{
    background: rgb(101, 145, 180);
    transition: 0.5s;
    left:0.5rem;
    transform: rotateY(30deg);
    width: 0.8rem;
}

.gate.open{
    transform: translateX(250px);
    transition: ease-in-out 0.5s;
    box-shadow: 0px 0px 10px 2px rgb(146, 145, 145);
}
.fridge .compartment:nth-child(2n){
    height: 30rem;
    border-radius: 0 0 10px 10px;
}
.fridge .compartment:nth-child(2n) .gate{
    height: 30rem;
    border-radius: 0 0 10px 10px;
}

.fridge .compartment .rack{
    width: 100%;
    height: 5rem;
    border-bottom: 2px solid rgb(228, 225, 225);
    
}

