.modal{
    position : fixed;
    display: flex;
    top : 10rem;
    left : 30%;
    margin : auto;
    width : 40%;
    min-height: 10rem;
    background : white;
    transition: 0.4s;
    z-index: 500;
    border-radius: 20px;
    padding: 1rem;
    flex-wrap: wrap;
    height: auto;
    transform: translateY(-200) scale(0);
    transition: 1s;
}

@media (max-width : 900px){
    .modal{
        width : 90%;
        left : 5%;
    }
}

.show{
    transform: scale(1);
    transition: 1s;
}

.hide{
    display: none;
    transform : translateY(-200) scale(0);
    transition: 1s;
}

