.layout{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row-reverse;
}

.sideBar{
    position: fixed;
    top : 0;
    left : 0;
    height: 100%;
    width: 20rem;
    background : linear-gradient(black , grey);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    opacity: 80%;
    z-index: 100;
}
.content{
    width: 79.2%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
.sideBar .logo{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width : 100%;
    font-weight: lighter;
    font-size: 1.5rem;
}

@media (max-width : 900px){
    .content{
        width: 100%;
    }
    .sideBar{
        display: none;
    }
}

