.card{
    width : 48%;
    height: auto;
    background: white;
    border-radius : 10px;
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-flow: column;
    margin : 2rem 1rem;
}
.card h5{
    display: flex;
    align-items: center;
}
.card h5.title{
    margin: 0.5rem 0;
    color: rgb(71, 201, 71);
}

@media (max-width:900px){
    .card{
        width:100%;
    }
}