.box{
    width : 48%;
    min-width : 20rem;
    position: absolute;
    top : 4rem;
    left: 20%;
    height:auto;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px rgb(243, 240, 240);
    background: white;
    overflow: hidden;
    transform: scaleY(1);
    transition: 0.2s;
    z-index: 100;
}
.box .item{
    padding: 1rem;
    border-bottom: 1px solid rgb(243, 238, 238);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box .item:hover{
    background: rgb(248, 247, 247);
}
.box.hide{
    transform: scaleY(0);
    transition: 0.2s;
}
.box .item img{
    margin: 0 2rem;
}
.box .item .name{
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
}