.button{
    width: 100%;
    padding: 1.1rem;
    border-radius: 40px;
    background: rgb(117, 185, 100);
    color: white;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover{
    box-shadow: -2px 0px 5px 1px grey;
    transition: 0.5s;
}