.fields{
    width: 60%;
}
.fields input,.fields textarea{
    display: block;
    width: 100%;
    height: 3rem;
    border-radius: 25px;
    outline: none;
    border : 1px solid rgb(229, 235, 229);
    margin : 1rem 0;
    padding: 1.5rem 1.2rem;
    font-size: 1.05rem;
    text-align: center;
    transition: 0.5s;
}

.fields input:focus,.fields textarea:focus{
    border: 1px solid rgb(127, 180, 127);
    transition: 0.5s;
    box-sizing: border-box;
    color: rgb(98, 238, 98);
}
.fields textarea{
    height: auto;
    font-family: sans-serif;
    resize : none
}