.badge{
    background: rgb(69, 185, 69);
    padding: 0.3rem ;
    height: 2.5rem;
    margin: 0.5rem;
    color: white;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.badge img{
    height: 2rem;
    width: 3rem;
    border-radius: 10px;
    margin-right: 0.5rem;
}
.badge:hover{
    background: rgb(4, 68, 4);
}
@media (max-width : 900px){
    .badge{
        margin:0.5rem 1rem;
    }
}