.item{
    border: 1px solid rgb(199, 195, 195);
    min-height: 10rem;
    margin: 2rem 0;
    padding: 2rem;
}

.title{
    padding: 0.8rem;
    font-weight: 200;
    background: rgb(216, 172, 90);
    color: white;
    margin: 0;
    border: 2px solid rgb(216, 172, 90);
}
