.cards{
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards .card{
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    flex-grow: 1;
    border-radius:20px;
    max-width: 20rem;
    box-shadow: 0px 0px 10px 2px rgb(211, 208, 208);
    background: rgb(229, 255, 204);
    cursor: pointer;
    overflow : hidden;
    position: relative;
}

.cards .card .image{
    height: 70%;
    width: 100%;
    overflow : hidden;
}

.cards .card .image h4{
    position: absolute;
    color: white;
    opacity: 100%;
    overflow-wrap: break-word;
    top: 2rem;
    z-index: 20;
    padding: 1rem;
}

.cards .card img{
    border-radius: 20px 20px 0 0;
    transition: 0.3s;
}

.cards .card:hover img{
    transform: scale(1.1);
    transition: 0.5s;
    opacity: 100%;
}

.card .info{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.card .info span{
    display: flex;
    justify-content: space-around;
    width: auto;
    align-items: center;
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    align-items: inherit;
    margin-right: 1rem;
    color: rgb(78, 78, 78);
}